
/*h1 {font-family: 'Brush Script MT', cursive;}

html
{
    background: url("contacts_blur_3.jpg") no-repeat center center fixed;
        font-family: arial;
	font-size: 80px;
	 
    background-size: cover;


}
body{
	background:  url("contacts_blur_3.jpg") no-repeat center center fixed;
	font-family: arial;
	font-size: 80px;
	line-height: 1.6em;
}

li{
	list-style: none;
	width: 180px;
}

a{
	text-decoration: none;
}

label {
	display: inline-block;
	width: 180px;
}

input[type='text']{
	width: 97%;
	padding: 4px;
	border-radius: 5px;
	border: 1px #ccc solid;
}
input[type='number']{
	width: 50px;
	padding: 4px;
	border-radius: 5px;
	border: 1px #ccc solid;
}
.container{
	width: 60%;
	margin:0 auto;
	overflow: auto;
}

header{
	border-bottom: 3px #f4f4f4 solid;
}

footer{
	border-top: 3px #f4f4f4 solid;
	text-align: center;
	padding-top: : 5px;
}

main{
	background: red;
    background-size: cover;
	padding-bottom: 20px;
}

a.start{
	display: inline-block;
	color:#666;

	border: 1px dotted #ccc;
	padding: 6px 13px;
}

.current{
	padding: 10px;
	background: #f4f4f4;
	border: #ccc dotted 1px;
	margin:20px 0 10px 0;
}

@media only screen and (max-width: 500px){
	.container{ 
		width: 80px;
	}
}*/

p { font-family: Arial, Helvetica, sans-serif; }

h1 { font-family: Arial, Helvetica, sans-serif; }
h2 { font-family: Arial, Helvetica, sans-serif; }
h3 { font-family: Arial, Helvetica, sans-serif; }
h4 { font-family: Arial, Helvetica, sans-serif; }
h5 { font-family: Arial, Helvetica, sans-serif; }
h6 { font-family: Arial, Helvetica, sans-serif; }

html
{
    background: url("../Images/cosmos.jpg") no-repeat center center fixed;
        
    background-size: cover;


}

.newsBG
{
    background: url("../Images/news.jpg") no-repeat center center fixed;
   /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

.aboutBG
{
    background: url("../Images/about.jpg") no-repeat center center fixed;
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

.contactsBG
{
    background: url("../Images/contacts.jpg") no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

.menubar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;*/
    transition: all .2s ease-in;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    top:0;
    position: fixed;
    height: 40px;
}

.textSection
{
  background-color:rgba(220,220,220,0.7);

  height: auto;
  margin-top: 25%;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menubar:hover
{
   /* -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;*/
    background-color: rgba(0, 0, 0, 0.6);
}

.menuItems
{
    float: right
}

.title
{
    font-family: 'Brush Script MT', cursive;
    color:white;
    font-size:120px;
    text-shadow:1px 1px #000000;
    text-align:center;
    margin-top:15%;

  /*  -webkit-user-select: none; 
    -moz-user-select: none; /
    -ms-user-select: none; */


   /* -o-user-select: none;
    user-select: none;*/
}

.noIbar
{
    cursor:default;
}

p
{
    font-family: 'Brush Script MT', cursive;
    color:white;
    text-shadow:1px 1px #000000;
    font-size:60px;
    text-align:center;

    

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

li a
{
    
    transition: all .2s ease-in;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover
{
    
    transition: all .2s ease-in;
    background-color: #111;
}

.downArrow
{
    width: 100px;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

 .downArrow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 

 /*.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 
*/
.button {
    background-color: #696969; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
}

/*.button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}*/

.button:hover {background-color: #e7e7e7;}

input:focus {
    outline:none;
}

table {
    border-collapse: collapse;
    width: 40%;
    text-align: center
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgba(160,82,45,0.7);
    color: white;
}